//全局公共样式

* {
  padding: 0;
  margin: 0;
  font-family: 'arial';
  vertical-align: middle;
}
//公共css方法
//padding为0

h3 {
  line-height: 44px;
  margin-bottom: 2rem;
  font-size: 32px;
  color: #666;
}

img {
  vertical-align: middle;
}

.layout {
  .ivu-layout {
    background: white;
  }

  .noPadding {
    padding: 0;
  }
}
//media query

.ivu-layout-content {
  width: 100%;
  position: relative;
  padding: 0 15px;
  margin: 0 auto;

  p {
    font-size: 1rem;
    margin: .2rem 0;
    text-align: left;
  }
}

.contentPadding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
// 滚动条

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  transition: background-color 0.5s;
}

::-webkit-scrollbar-thumb:vertical {
  transition: background-color 0.5s;
  height: 32px;
  background-color: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  transition: background-color 0.5s;
  height: 32px;
  background-color: #888;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 32px;
  background-color: #ccc;
  border-radius: 5px;
}
/* for Chrome */
// 滚动条
@media (min-width:540px) {
  .ivu-layout-content {
    width: 480px;
  }
}
@media (min-width:760px) {
  .ivu-layout-content {
    width: 700px;
  }
}
@media (min-width:980px) {
  .ivu-layout-content {
    width: 920px;
  }
}
@media (min-width:1200px) {
  .ivu-layout-content {
    width: 1140px;
  }
}
